#tag layout_block("mainContent")
<section class="content-header">
  <h1>
    Application consumers
    <small>overview</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href=""><i class="fa fa-home"></i> Home</a></li>
    <li><a href="applications"><i class="fa fa-cubes"></i> Applications</a></li>
    <li>${application}</li>
    <li class="active">
      <a href="applications/providers?application=${application}">Providers</a> | Consumers | <a href="applications/dependencies?application=${application}">Depends On</a> | <a href="applications/dependencies?application=${application}&reverse=true">Used By</a>
    </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Lists of application consumer</h3>

          <div class="box-tools">
            <div class="input-group" style="width: 200px;">
              <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Consumer URL"/>

              <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th>Unregister</th>
              <th>Consumer URL</th>
            </tr>
            </thead>
            <tbody>
            #for (row : rows)
            <tr>
              <td class="text-center"><a class="btn btn-xs btn-danger" href="unsubscribe?application=${application}&consumer=${com.alibaba.dubbo.common.URL::encode(row)}"><i class="fa fa-unlock"></i></a></td>
              <td>${row}</td>
            </tr>
            #end
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>

</section>
#end

#include ("../common/main_layout.html")