<aside xmlns:th="http://www.thymeleaf.org"
       th:fragment="sidebar" class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="">
          <i class="fa fa-home"></i> <span>Home</span>
        </a>
      </li>
      <li>
        <a href="applications">
          <i class="fa fa-cubes"></i> <span>Applications</span>
        </a>
      </li>
      <li>
        <a href="services">
          <i class="fa fa-connectdevelop"></i> <span>Services</span>
        </a>
      </li>
      <li>
        <a href="hosts">
          <i class="fa fa-sliders"></i> <span>Hosts</span>
        </a>
      </li>
      <li>
        <a href="registries">
          <i class="fa fa-globe"></i> <span>Registries</span>
        </a>
      </li>
      <li>
        <a href="servers">
          <i class="fa fa-building"></i> <span>Servers</span>
        </a>
      </li>
      <li>
        <a href="status">
          <i class="fa fa-info-circle"></i> <span>Status</span>
        </a>
      </li>
      <li>
        <a href="system">
          <i class="fa fa-cog"></i> <span>System</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>